:host {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
}

mgl-map {
  height: 100%;
  width: 100%;
}

.person-marker, .sight-marker {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: yellowgreen;
  width: 1.75em;
  height: 1.75em;
  border-radius: 50%;
}

.sight-marker {
  background-color: blueviolet;
}

.loader {
  position: absolute;
  z-index: -1;
  top:50%;
  left:50%;
  color: #fff;
  transform: translateX(-50%) translateY(-50%);
}
